/* Add this to your CSS file */
.print-content {
    display: block;
  }
  
  @media print {
    .print-content {
      font-size: 1.25rem; /* Adjust as needed */
      font-weight: bold;  /* Adjust as needed */
    }
  }
  